<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certifications</title>
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}" class="logo">SN</a>
        <nav class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('education') }}">Education</a>
            <a href="{{ url_for('skills') }}">Skills</a>
            <a href="{{ url_for('certifications') }}" class="active">Certifications</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>
    <section id="certifications">
        <div class="certifications-grid">
            <div class="certification-item">
                <h3>Python for DataScience - IBM</h3>
                <img src="{{ url_for('static', filename='images/IBM.jpg')}}" class="rounded-image" alt="IBM Certification">
            </div>

            <div class="certification-item">
                <h3>AI EDX</h3>
                <img src="{{ url_for('static', filename='images/AI EDX.png')}}" class="rounded-image" alt="AI EDX Certification">
            </div>

            <div class="certification-item">
                <h3>UNNATI</h3>
                <img src="{{ url_for('static', filename='images/UNNATI.png')}}" class="rounded-image" alt="UNNATI Certification">
            </div>

            <div class="certification-item">
                <h3>TCS NQT ScoreCard</h3>
                <img src="{{ url_for('static', filename='images/TCS NQT.jpg')}}" class="rounded-image" alt="TCS NQT ScoreCard">
            </div>
        </div>
    </section>
    
    <footer>
        <p>You can also find me here:-</p>
        <div class="social-links">
            <a href="https://mail.google.com/mail/u/0/?fs=1&to=naziyashaik0204@gmail.com&tf=cm" target="_blank"><i class="uil uil-envelope-alt"></i></a>
            <a href="https://github.com/naziyanazu786" target="_blank"><i class="uil uil-github"></i></a>
            <a href="https://www.linkedin.com/in/naziya-shaik-487813280" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
        </div>
        <h5>@All rights reserved</h5>
    </footer>
</body>
</html>
